{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="carousel">
    </div>
    <div class="eventcontainer">
        <div class="eventline">

            {% for ev in event %}

            <div class="event">
                <h1><a href="{% url 'event_detail' ev.pk %}">{{ ev.eventname }}</a></h1>
                <p>{{ ev.eventname }}</p>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}
{% endblock content %}
