{% extends 'base.html' %}

{% block content %}

{% for event in event_list %}
<div class="container">
    <div class="carousel">
    </div>
    <div class="eventcontainer">
        <div class="eventline">
            <div class="event">
            </div>
            <div class="event">
            </div>                
            <div class="event">
            </div>
        </div>
    </div>
</div>
{% endfor %}
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}
{% endblock content %}
