{% extends 'base.html' %}

{% block content %}

<div class="container">
            <div class="carousel">
            </div>
            <div class="eventcontainer">
                <div class="eventinner">
                    {% for i in Eventlist %}
                    <div class="event">
                        <div class="event-window-container">
                            <div class="event-window-inner">
                                <img class="event-image" src="{{ i.eventpic.url }}">
                                <h1 class="event-title">{{ i.eventtitle }}</h1>
                                <div class="event-description">{{ i.eventdescription }}</div>
                                <a class="event-more" href="event.html">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
</div>
{% endblock content %}
