{% extends 'base.html' %}

{% block content %}
        <div class="container">
            <div class="carousel">
            </div>
            <div class="eventcontainer">
                <div class="eventinner">
                            {% for video in event.File.all %}
                            <div class="attachment">
                                <div class="event-window-container">
                                    <div class="event-window-inner">
                                        <video width="600px" class = "attachment-image" height="600px" controls preload="auto" src="{{ video.video.url }}" type="video/mp4"></video>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
        </div>
        </div>
{% endblock content%}